.decorated-heading {
  letter-spacing: 3px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid #0d6efd;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.skill-card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.skill-card {
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(135deg, #3a3d98, #7e57c2);
  border-radius: 12px;
}

a{
  color: white;
  font-size: 42px;
}

.flip-image {
  animation: spinY 2s linear infinite;
  transform-style: preserve-3d;
}

.flip-image-slow {
  animation: spinY 2.5s linear infinite;
  transform-style: preserve-3d;
}

.flip-image-fast {
  animation: spinY 1.5s linear infinite;
  transform-style: preserve-3d;
}

@keyframes spinY {
  0%   { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}
