<div class="container-xl text-white">

  <div class="text-center">
    <a class="my-4 py-4 bold" href="#aboutMeSection">
      <span class="decorated-heading my-4">ABOUT</span>
    </a>
  </div>


  <!-- ABOUT ME + SKILLS -->
  <div class="row my-4">
    <div class="col-sm-12 col-md-6 my-4">
      <h4 id="aboutMeSection"><i class="fa-solid fa-user me-4"></i>About Me</h4>
      <hr>
      <p>
        Nice to meet you, I'm Marco. I recently graduated as a Web Applications Developer.
        I am eager to put into practice the knowledge I have acquired during my studies,
        as well as to continue growing professionally and learning new languages and technologies.

        During the course, we learned languages and tools such as Java, HTML/CSS, Angular, SCSS,
        JavaScript, MySQL, Spring Boot, Thymeleaf, etc.
        I am also fully open to learning new types of technologies and programming languages.
        I would love the opportunity to work with your team and continue learning.
      </p>
      <p>
        Thank you very much for taking the time to read my introduction.
        I hope we can work together soon!
      </p>
    </div>

    <div class="col-sm-12 col-md-6 my-4">
      <h4><i class="fa-solid fa-computer me-4"></i>Skills</h4>
      <hr>
      <!-- ICONOS LENGUAJES -->
      <div class="row">
        <div class="col text-center p-2">
          <div class="p-3 skill-card h-100">
            <img src="assets/images/icons/HTML5.png" alt="HTML" class="flip-image skill-icon">
            <p class="mt-2 mb-0 fw-semibold">HTML</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class=" p-3 skill-card h-100">
            <img src="assets/images/icons/Java.png" alt="" class="flip-image-fast skill-icon">
            <p class="mt-2 mb-0 fw-semibold">Java</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class=" p-3 skill-card h-100">
            <img src="assets/images/icons/JavaScript.png" alt="" class="flip-image-slow skill-icon">
            <p class="mt-2 mb-0 fw-semibold">Javascript</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class=" p-3 skill-card h-100">
            <img src="assets/images/icons/Angular.png" alt="" class="flip-image skill-icon">
            <p class="mt-2 mb-0 fw-semibold">Angular</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class=" p-3 skill-card h-100">
            <img src="assets/images/icons/TypeScript.png" alt="" class="flip-image-fast skill-icon">
            <p class="mt-2 mb-0 fw-semibold">TypeScript</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class=" p-3 skill-card h-100">
            <img src="assets/images/icons/Spring.png" alt="" class="flip-image skill-icon">
            <p class="mt-2 mb-0 fw-semibold">SpringBoot</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class=" p-3 skill-card h-100">
            <img src="assets/images/icons/CSS3.png" alt="" class="flip-image-slow skill-icon">
            <p class="mt-2 mb-0 fw-semibold">CSS</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class=" p-3 skill-card h-100">
            <img src="assets/images/icons/Sass.png" alt="" class="flip-image skill-icon">
            <p class="mt-2 mb-0 fw-semibold">SASS</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class="p-3 skill-card h-100">
            <img src="assets/images/icons/Git.png" alt="" class="flip-image-fast skill-icon">
            <p class="mt-2 mb-0 fw-semibold">Git</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class="skill-card p-3 h-100">
            <img src="assets/images/icons/GitHub.png" alt="" class="flip-image-slow skill-icon">
            <p class="mt-2 mb-0 fw-semibold">GitHub</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class="skill-card p-3 h-100">
            <img src="assets/images/icons/VisualStudioCode.png" alt="" class="flip-image skill-icon">
            <p class="mt-2 mb-0 fw-semibold">Visual Studio</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class="skill-card p-3 h-100">
            <img src="assets/images/icons/Bootstrap.png" alt="" class="flip-image-slow skill-icon">
            <p class="mt-2 mb-0 fw-semibold">Bootstrap</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="row my-4">

    <!-- EDUCACION -->
    <div class="my-4 col-md-6">
      <h4><i class="fa-solid fa-user-graduate me-4"></i>Education</h4>
      <hr>
      <section class="py-4">
        <div class="card bg-dark text-light border-secondary">
          <div class="card-body">
            <h5 class="card-title text-primary py-2">
              <i class="fa-solid fa-laptop-code me-2"></i>FP MicroComputer Systems [SMR]
            </h5>
            <h6 class="card-subtitle py-2">
              <i class="fa-solid fa-school me-2"></i> IES Al-Baytar · Benalmádena
            </h6>
            <p class="card-text mt-3">
              During this program, I gained hands-on experience with operating systems, hardware, and networking.
              I learned how to install and configure routers, work with microservices,
              and troubleshoot systems — building a strong foundation in IT and system administration.
            </p>
          </div>
        </div>
      </section>
      <section class="py-4">
        <div class="card bg-dark text-light border-secondary">
          <div class="card-body">
            <h5 class="card-title text-primary py-2">
              <i class="fa-solid fa-code me-2"></i>Design and Development of Web Applications [DAW]
            </h5>
            <h6 class="card-subtitle py-2">
              <i class="fa-solid fa-school me-2"></i> IES Vega de Mijas · Mijas
            </h6>
            <p class="card-text mt-3">
              In this program, I focused on full-stack web development, gaining practical experience in
              technologies like Java, Angular, MySQL, and more. I developed strong skills in both front-end
              and back-end development, preparing me to build dynamic and responsive web applications.
            </p>
          </div>
        </div>
      </section>
    </div>


    <!-- EXPERIENCIA -->
    <div class="my-4 col-md-6">
      <h4>  <i class="fa-solid fa-briefcase me-4"></i>Experience</h4>
      <hr>
      <section class="py-4">
        <div class="card bg-dark text-light border-secondary">
          <div class="card-body">
            <h5 class="card-title text-primary py-2">
              <i class="fa-solid fa-briefcase me-2"></i>Junior Web Developer
            </h5>
            <h6 class="card-subtitle py-2">
              <i class="fa-solid fa-building me-2"></i> SEB Creativos · Málaga
            </h6>
            <p class="card-text mt-3">
              During my time at SEB Creativos, I collaborated with a development team to build and maintain
              responsive web applications. My tasks included creation of websites with templates, building the pages
              and translating them, all of that using Wordpress.
            </p>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>
