.decorated-heading {
  letter-spacing: 3px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid #0d6efd;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.headerLink{
  color: white;
  font-size: 42px;
}
