<div class="container-xl text-white">
  <h1 class="my-4 py-4 text-center">
    <span class="decorated-heading">CONTACT</span>
  </h1>

  <p class="text-center">Have any question or interested in my services? Please fell free
    to contact me by any of these communication channels</p>

  <section class="contact-section text-center text-white py-5">
    <div class="container">
      <div class="d-flex flex-column align-items-center gap-3">
        <a href="https://www.linkedin.com/in/marco-david-m-b7506a27b/" target="_blank" class="contact-link">
          <i class="fab fa-linkedin fa-lg me-2"></i> LinkedIn
        </a>
        <a href="https://github.com/Markex2002" target="_blank" class="contact-link">
          <i class="fab fa-github fa-lg me-2"></i> GitHub
        </a>
        <a href="mailto:marcodavidmartin33@gmail.com" class="contact-link">
          <i class="fas fa-envelope fa-lg me-2"></i> Email
        </a>
      </div>
    </div>
  </section>
</div>
