.decorated-heading {
  letter-spacing: 3px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid #0d6efd;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.contact-link {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.contact-link:hover {
  color: #fff;
  border-color: #7e57c2;
  background: linear-gradient(135deg, #3a3d98, #7e57c2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a{
  color: white;
  font-size: 42px;
}
