<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-xl py-4">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
        <a class="nav-link text-white" href="#about">About Me</a>
        <a class="nav-link text-white" href="#projects">Projects</a>
        <a class="nav-link text-white" href="#contact">Contact</a>
      </div>
    </div>

    <div class="d-flex">
      <p class="py-2 my-0 text-white">
        <img src="/assets/images/Engineerava.jpg" alt="Logo" width="30" height="30" class="d-inline-block mx-2">
        Marco Martín Bernabéu</p>
    </div>
  </div>
</nav>
