<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-xl py-4">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
        <a class="nav-link text-white" href="#about">About Me</a>
        <a class="nav-link text-white" href="#projects">Projects</a>
        <a class="nav-link text-white" href="#contact">Contact</a>
      </div>
    </div>

    <img src="/assets/images/MM.png" alt="Logo" width="64" height="64" class="d-inline-block mx-2">

  </div>
</nav>
